.App {
  text-align: center;
  background-image: url("./images/christmas-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  .App {
    text-align: center;
    background-image: url("./images/christmas-background-vertical.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
 }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  .App {
    text-align: center;
    background-image: url("./images/christmas-background3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
  .App {
    text-align: center;
    background-image: url("./images/christmas-background3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d78383;
}
